body {
    width: 100%;
    height: 100%;
    font-family: cursive;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: top center;
}

.section {
    position: relative;
    width: 100%;
    height: 110vh;
    display: flex;
    margin: 0px auto;
    padding: 25px;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); */
}

.section h1 {
    position: fixed;
    display: flex;
    text-align: center;
    letter-spacing: 5px;
    font-family: cursive;
    padding: 20px;
    color: rgb(167, 65, 6);
    font-size: 40px;
    font-weight: 200px;
    /* z-index: 1; */
    margin-top: -450px;
    margin-left: -10%;
}

/* .video-container {
position: absolute;
width: 100%;
height: 20vh;
top: 0;
left: 0;  
} */
.section input {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: -33%;
    font-family: cursive;
    width: 60%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;

    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    margin-top: -35%;
    /* position: fixed;
display: flex;
justify-content:center;
width: 60%;
height: 8vh;
font-family: "Cookie";
padding: 20px;
margin: 15px;
z-index: 1; */
}

/* . {
position:fixed;
display: flex;
justify-content:center;
font-family: "Cookie";
height: 8vh;
padding: 10px;
margin-left: 20%;
margin-top: -20%; */
/* z-index: 1; */
/* } */

/* 5 */
.btn-5 {
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: "Cookie";
    height: 8vh;
    padding: 10px;
    margin-left: 55%;
    margin-top: -35%;
    width: 70px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


#result {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 600px;
    color: white;
    border: 2px red;
    text-align: center;
    font-family: cursive;
    padding: 20px;
    margin: 15px;
    /* z-index: 1; */
    margin-top: 117%;
    margin-left: -10%;
}